/*博主信息*/
.blogerinfo {
  text-align: center;
  padding: 0 15px;
  background: #fff;
  margin-bottom: 15px;
}

.blogerinfo-figure {
  display: inline-block;
  margin: 20px auto;
}

  .blogerinfo-figure img {
      border-radius: 50px;
  }

.blogerinfo-nickname {
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 15px 0;
}

.blogerinfo-introduce {
  margin: 15px auto;
  font-size: 18px;
  width: 90%;
}

.blogerinfo-location {
  color: #808080;
  margin: 15px;
}

.blogerinfo-contact {
  padding: 15px;
  padding-top: 5px;
}

  .blogerinfo-contact > a {
      padding: 0 10px;
  }
/*博主信息END*/

.article-detail {
    background: #fff;
    padding: 15px;
    box-shadow: 0 1px 8px #a6a6a6;
    margin-bottom: 15px;
}

.article-detail-title {
    text-align: center;
    margin: 20px 0px;
    color: black;
    font-weight: 700;
    font-size: 24px;
}

.article-detail-info {
    border: 1px dashed #808080;
    font-size: 13px;
    color: #808080;
    padding: 5px 0;
    font-family: SimSun;
    text-align: center;
    margin: 0 0 10px;
}

    .article-detail-info span {
        margin: 0 5px;
    }

.article-detail-content {
    padding: 10px 5px;
}



/*代码区域*/
pre {
    background-color: #f5f5f5 !important;
    border-radius: 0px !important;
    border: 1px solid #ccc !important;
    font-size: 13px !important;
}
