[submodule "cinatra"]
	path = cinatra
	url = https://github.com/qicosmos/cinatra.git
[submodule "ormpp"]
	path = ormpp
	url = https://github.com/qicosmos/ormpp.git
[submodule "render"]
	path = render
	url = https://github.com/qicosmos/render.git